<div class="container mt-4">
  <!-- Primer componente: ocupará toda la fila -->
  <div class="row mb-4 section">
    <h2 class="section-title">Contáctanos</h2>
    <div class="col-12">
      <app-contactos-lista></app-contactos-lista>
    </div>
  </div>
  
  <!-- Segundo y tercer componente: estarán uno al lado del otro -->
  <div class="row section">
    <h2 class="section-title">Productos</h2>
    <div class="col-md-6 mb-4">
      <app-productos-crear></app-productos-crear>
    </div>
    <div class="col-md-6 mb-4">
      <app-productos-lista></app-productos-lista>
    </div>
  </div>
</div>
