/* Asegúrate de que la imagen sea responsive y tenga un tamaño adecuado */
.img-desc-container img {
    max-width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

/* Contenedor para la descripción */
.img-desc-container p {
    margin: 0;
    font-size: 0.875rem; /* Ajusta el tamaño del texto según sea necesario */
}

/* Ajuste para mejorar el espaciado y alineación */
.img-desc-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
