<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (item of productos; track item) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.producto}}</td>
            <td>{{item.categoria}}</td>
            <td>{{item.precio}}</td>
            <td>
                <div class="img-desc-container">
                    <img [src]="item.imagen" alt="{{item.producto}}" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="img-desc-container">
                    <p>{{item.descripcion}}</p>
                </div>
            </td>
            <td>
                <a [routerLink]="['/editarProductos',item.id]" class="btn btn-success">Editar</a>
                <button class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button>
            </td>
        </tr>
        }
    </tbody>
</table>
