<div class="container mt-4">
    <h2 class="title">Términos y Condiciones</h2>
    <div class="terminos-content">
        <p>Bienvenido a <strong>Mi Cafetería</strong>. Al acceder y utilizar nuestros servicios, usted acepta los
            siguientes términos y condiciones:</p>
        <h3>1. Uso del Servicio</h3>
        <p>El uso de nuestros servicios está sujeto a las leyes y regulaciones locales. Usted es responsable de cumplir
            con todas las leyes aplicables.</p>
        <h3>2. Proporcionar Información Correcta</h3>
        <p>Es importante proporcionar información precisa y completa al utilizar nuestros servicios. No nos hacemos
            responsables de cualquier error o inconveniente causado por información incorrecta.</p>
        <h3>3. Modificaciones del Servicio</h3>
        <p>Podemos modificar o descontinuar nuestros servicios en cualquier momento sin previo aviso. Nos reservamos el
            derecho de realizar cambios en los términos y condiciones.</p>
        <h3>4. Propiedad Intelectual</h3>
        <p>Todo el contenido y los materiales proporcionados en nuestro sitio web son propiedad de <strong>Mi
                Cafetería</strong> y están protegidos por derechos de autor y otras leyes de propiedad intelectual.</p>
        <h3>5. Limitación de Responsabilidad</h3>
        <p>No nos hacemos responsables de cualquier daño indirecto, incidental o consecuente que pueda surgir del uso de
            nuestros servicios.</p>
        <br>
    </div>
</div>