<div class="container product-section">
    <h2 class="text-center mb-4">Agregar Producto</h2>
    <form (ngSubmit)="guardarProducto(formulario)" #formulario="ngForm">
      
      <!-- Campo para ingresar el nombre del producto -->
      <div class="mb-3">
        <label for="producto" class="form-label">Producto:</label>
        <input type="text" class="form-control" id="producto" name="producto" [(ngModel)]="producto" required>
      </div>
      
      <!-- Campo para ingresar la categoría del producto -->
      <div class="mb-3">
        <label for="categoria" class="form-label">Categoría:</label>
        <input type="text" class="form-control" id="categoria" name="categoria" [(ngModel)]="categoria" required>
      </div>
      
      <!-- Campo para ingresar el precio del producto -->
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="precio" required>
      </div>
      
      <!-- Campo para ingresar la URL de la imagen del producto -->
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen (URL):</label>
        <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen" required>
      </div>
      
      <!-- Campo para ingresar la descripción del producto -->
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea id="descripcion" class="form-control" name="descripcion" [(ngModel)]="descripcion" rows="4" required></textarea>
      </div>
  
      <!-- Botón para enviar el formulario -->
      <button type="submit" class="btn btn-primary">Guardar Producto</button>
    </form>
  </div>
  